BarbeariaWebApi/Connected Services/ServicoServiceReference/ServiceServico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55888/ServiceServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjetoWCF" />
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="FindAllResult" nillable="true" type="q1:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="FindResult" nillable="true" type="q2:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="servico" nillable="true" type="q3:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="NewResult" nillable="true" type="q4:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="prestador" nillable="true" type="q5:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="UpdateResult" nillable="true" type="q6:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="DeleteResult" nillable="true" type="q7:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>