BarbeariaWebApi/Connected Services/ClientesServiceReference/ServiceCliente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComboboxDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboboxDto" nillable="true" type="tns:ComboboxDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboboxDto" nillable="true" type="tns:ArrayOfComboboxDto" />
  <xs:complexType name="ComboboxDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboboxDto" nillable="true" type="tns:ComboboxDto" />
</xs:schema>