BarbeariaWebApi/Connected Services/VendaReference/ServiceVenda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceVenda" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjetoWCF" />
      <xsd:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceVenda_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_New_InputMessage">
    <wsdl:part name="parameters" element="tns:New" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_New_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllComboboxCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllComboboxCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllComboboxCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllComboboxClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllComboboxPrestador_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllComboboxPrestador" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllComboboxPrestador_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllComboboxPrestadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProdutos" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllServicos_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllServicos" />
  </wsdl:message>
  <wsdl:message name="IServiceVenda_FindAllServicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllServicosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceVenda">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/FindAll" message="tns:IServiceVenda_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindAllResponse" message="tns:IServiceVenda_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/Find" message="tns:IServiceVenda_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindResponse" message="tns:IServiceVenda_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="New">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/New" message="tns:IServiceVenda_New_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/NewResponse" message="tns:IServiceVenda_New_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllComboboxCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/FindAllComboboxCliente" message="tns:IServiceVenda_FindAllComboboxCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindAllComboboxClienteResponse" message="tns:IServiceVenda_FindAllComboboxCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllComboboxPrestador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/FindAllComboboxPrestador" message="tns:IServiceVenda_FindAllComboboxPrestador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindAllComboboxPrestadorResponse" message="tns:IServiceVenda_FindAllComboboxPrestador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/FindAllProdutos" message="tns:IServiceVenda_FindAllProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindAllProdutosResponse" message="tns:IServiceVenda_FindAllProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllServicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVenda/FindAllServicos" message="tns:IServiceVenda_FindAllServicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVenda/FindAllServicosResponse" message="tns:IServiceVenda_FindAllServicos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceVenda" type="tns:IServiceVenda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="New">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllComboboxCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/FindAllComboboxCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllComboboxPrestador">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/FindAllComboboxPrestador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllProdutos">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/FindAllProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllServicos">
      <soap:operation soapAction="http://tempuri.org/IServiceVenda/FindAllServicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceVenda">
    <wsdl:port name="BasicHttpBinding_IServiceVenda" binding="tns:BasicHttpBinding_IServiceVenda">
      <soap:address location="http://localhost:55888/ServiceVenda.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>