BarbeariaWebApi/Connected Services/VendaReference/ServiceVenda3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VendaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdPrestador" type="xs:int" />
      <xs:element minOccurs="0" name="ListaProduto" nillable="true" type="tns:ArrayOfProdutoDto" />
      <xs:element minOccurs="0" name="ListaServico" nillable="true" type="tns:ArrayOfServicoDto" />
      <xs:element minOccurs="0" name="NomeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomePrestador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendaDto" nillable="true" type="tns:VendaDto" />
  <xs:complexType name="ArrayOfProdutoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoDto" nillable="true" type="tns:ProdutoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoDto" nillable="true" type="tns:ArrayOfProdutoDto" />
  <xs:complexType name="ProdutoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDto" nillable="true" type="tns:ProdutoDto" />
  <xs:complexType name="ArrayOfServicoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicoDto" nillable="true" type="tns:ServicoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicoDto" nillable="true" type="tns:ArrayOfServicoDto" />
  <xs:complexType name="ServicoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicoDto" nillable="true" type="tns:ServicoDto" />
  <xs:complexType name="ArrayOfComboboxDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboboxDto" nillable="true" type="tns:ComboboxDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboboxDto" nillable="true" type="tns:ArrayOfComboboxDto" />
  <xs:complexType name="ComboboxDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboboxDto" nillable="true" type="tns:ComboboxDto" />
</xs:schema>