BarbeariaWebApi/Connected Services/VendaReference/ServiceVenda2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjetoWCF" />
  <xs:import schemaLocation="http://localhost:55888/ServiceVenda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="FindAllResult" nillable="true" type="q1:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="FindResult" nillable="true" type="q2:VendaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="venda" nillable="true" type="q3:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="NewResult" nillable="true" type="q4:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComboboxCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComboboxClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="FindAllComboboxClienteResult" nillable="true" type="q5:ArrayOfComboboxDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComboboxPrestador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllComboboxPrestadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="FindAllComboboxPrestadorResult" nillable="true" type="q6:ArrayOfComboboxDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="FindAllProdutosResult" nillable="true" type="q7:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllServicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllServicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProjetoWCF" minOccurs="0" name="FindAllServicosResult" nillable="true" type="q8:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>